# ==========================================
# Lab Admin Service
# Variables de entorno de ejemplo
# ==========================================

# ------------------------------------------
# PostgreSQL - Docker
# ------------------------------------------

POSTGRES_DB=labdb
POSTGRES_USER=labuser
POSTGRES_PASSWORD=CAMBIAR_LOCALMENTE


# ------------------------------------------
# PostgreSQL - Spring Boot
# ------------------------------------------

DB_HOST=localhost
DB_PORT=5432
DB_NAME=labdb
DB_USER=labuser
DB_PASSWORD=CAMBIAR_LOCALMENTE